/**
 * @author Daniel Goberitz <danyg>
 */
html {
	--page-color: #fff;
	--workarea-color: #666;
	--box-shadow: 8px 8px 15px 5px rgba(0,0,0,.5);
	--page-margin: 1cm;
}

.din-a4 {
	width: 210mm;
	height: 297mm;
	background: var(--page-color);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.din-a4 section {
	flex-grow: 1;
}

.page-breaker {
	page-break-after: always;
}

@media screen {
	body {
		background: var(--page-color);
		box-shadow: var(--box-shadow);
	}

	html {
		background: #666;
	}
}

@media (max-width: 219mm) {
	.din-a4 {
		/*width: initial;
		height: initial;*/
		padding: 0%;
	}
}
@media (min-width: 220mm) {
	body {
		width: 210mm;
		margin: 10px auto;
	}
	body.with-pages {
		width: initial;
		background: #666;
		box-shadow: initial;
		margin: 0;
		padding: var(--page-margin);
	}
	.din-a4 {
		box-shadow: var(--box-shadow);
		padding: var(--page-margin);
		margin: 10px auto;
	}
}
@media (max-width: 209mm) {
	body {
		width: auto;
		margin: 0px auto;
	}
	.din-a4 {
		width: initial;
		height: initial;
	}
	.din-a4 section {
		flex-grow: initial;
	}

}
